#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.inputWithButton {
  position: relative;
  top : 15px;
  height: 50px;
  width : 800px;
}

.inputWithButton label {
  width: 15%;
  height: 25px;
  padding-right: 10px;
}

.inputWithButton select {
    width: 40%;
    height: 25px;
    padding-right: 60px;
}

.inputWithButton button {
  align-self: auto;
  width: 10%;
  margin-left: 1%;
}

table {
  width: 100%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}

table tbody tr td {
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: black;
}

table tbody tr td:last-child {
  border-right: 0px;
}